.propertylist{
display: flex;
 justify-content: space-between;
  gap: 20px;
  z-index: 1;
  position: relative;
  margin: 30px;
}
.propertycard{
      flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.property-img{
      width: 100%;
  height: 150px;
  object-fit: cover;
}
.propertyTitle> h1{
      font-size: 18px;
  color: rgba(68, 68, 68, 0.535);
}
.propertyTitle> h2{
      font-size: 14px;
font-weight: 300;
}