.listcontainer{
 display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 300px;
  padding: 20px;
}
.list-wrapper{
      width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}
.listsearch{
      flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}
.listtitle{
      font-size: 20px;
  color: #008080;
  margin-bottom: 10px;
}
.listitem{
     display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.listitem > label{
      font-size: 15px;
}
.listitem > input{
      height: 30px;
  border: none;
  padding: 5px;
    background-color: azure;
   border-radius: 10px;
}
.listitem > span{
      height: 30px;
  padding: 5px;
  background-color: azure;
   border-radius: 10px;
    color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.listoptions{
    padding: 20px;
}
.listoptionitem{
     display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}
.listoptioninput{
      width: 50px;
      height: auto;
      background-color: azure;
}
.btn-search{
       background-color: #01a7a7;
  color: azure;
  border: none;
  padding: 10px;
    border-radius: 20px;
      width: 100%;
}
.btn-search:hover{
    background-color: azure;
    color: #01a7a7 ;
}
.listsearch{
     padding: 20px;
  color: azure;
  border: none;
  width: 100%;
  font-weight: 300;
  cursor: pointer;
}
.listresult{
    flex: 3;
}