.header{
background-color: #008080;
  display: flex;
  justify-content: center;
  position: relative;
  color: azure;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listmode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 35px;
}
span{
    padding-left: 10px;
}
.icon.active {
  border: 1px solid azure;
  padding: 10px;
  border-radius: 20px;
}
.headerDescription {
  margin: 20px 0px;
}
.headerBtn {
  background-color: #01a7a7;
  color: azure;
  font-weight: 500;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
    border-radius: 20px;
      cursor: pointer;
}
.headerSearch {
  height: 30px;
  background-color:#008080;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: azure;
  font-size: 30px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  padding: 8px;
   border-radius: 10px;
}

.headerSearchText {
  color: azure;
  cursor: pointer;
}
 .headerBtn2{
      background-color: #01a7a7;
  color: azure;
  border: none;
  padding: 10px;
    border-radius: 20px;
      cursor: pointer;
 }
 .date {
  position: absolute;
  top: 50px;
  z-index: 2;
}
.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: azure;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionitem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}
.OptCounBtn{
 width: 30px;
  height: 30px;
  border: 1px solid  #01a7a7;
  color:  #01a7a7;
  cursor: pointer;
  background-color: azure;
}
.OptCounBtn:disabled {
  cursor: not-allowed;
}